<mat-drawer-container class="page-container" autosize>
  <mat-drawer #drawer class="div-sidenav" mode="side">
    <div class = "div-img-logo">
      <img class = "img-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuLNguRJlcleGuri-h9hQ5ZsPuygm2jKJ6Lg&usqp=CAU"/>
    </div>
    <mat-card class = "menu-card">
      <mat-card-content>
        <p>Dashboard</p>
      </mat-card-content>

    </mat-card>
    <mat-card class = "menu-card">
      <mat-card-content>
        <p>Home</p>
      </mat-card-content>

    </mat-card>
    <mat-card class = "menu-card">
      <mat-card-content>
        <p>Bianca</p>
      </mat-card-content>

    </mat-card>
  </mat-drawer>

  <div class="div-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Online Shop</span>
      <span class="span-spacer"></span>
      <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <app-list-item></app-list-item>

  </div>


</mat-drawer-container>

