<mat-card class="card-container">
  <mat-card-content>
    <div class="input-container">
      <mat-form-field class = "input-field">
        <mat-label>Enter title</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="title" required>
        <mat-error>{{ getErrorMessage(title) }}</mat-error>
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field class = "input-field">
        <mat-label>Enter description</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="description" required>
        <mat-error>{{ getErrorMessage(description) }}</mat-error>
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field class = "input-field">
        <mat-label>Enter image URL</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="imageURL" required>
        <mat-error>{{ getErrorMessage(imageURL) }}</mat-error>
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field class = "input-field">
        <mat-label>Enter price</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="price" required>
        <mat-error>{{ getErrorMessage(price) }}</mat-error>
      </mat-form-field>
    </div>
    <div class = "div-buttons">
      <button class = "btn-save" mat-raised-button color="primary" (click)="onSave()">Save</button>
    </div>

  </mat-card-content>
</mat-card>



